.containerBtn {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 100px;
}

.btn {
    background-color: aquamarine;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}